.lightbox-top-left {
  background: url("images/lightbox-top-left.gif") no-repeat scroll left top white;
}

.lightbox-top-right {
  background: url("images/lightbox-top-right.gif") no-repeat scroll right top transparent;
}

.lightbox-bottom-left {
  background: url("images/lightbox-bottom-left.gif") no-repeat scroll left bottom transparent;
}

.lightbox-bottom-right {
  background: url("images/lightbox-bottom-right.gif") no-repeat scroll right bottom transparent;
}

#imageData {
  margin-top: 5px;
  padding: 5px 10px 0 !important;
}